body {
font-family:georgia, times, serif;
color: #333;
font-size: -1.2rem;
line-height: 1.6em;
margin: 0;

}
h1 {
    font-size: 2rem;
    line-height: 1.3em;

}

p {
    margin-bottom: 1.6em;
}

.contenedor {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: #333;
    color:white;
    padding: 2rem 0;

    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;

}

.header a {
    color:white;
    text-decoration: none;
}

.logo-nav-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    letter-spacing: 20px;
    font-size: 1.3em;

}

.menu-icon {
    display: none;
}

.navegacion ul {
    margin: 0%;
    padding: 0;
    list-style: none;

}

.navegacion ul li {
    display: inline-block;

}
.navegacion ul li a {
    display: block;
    padding: 0.5rem 1 rem;
    transition: all 0.45 linear;
    border-radius: 5px;
}

.navegacion ul li a:hover {
    background: #4a4a4a;
}

.main {
    padding-top: 12rem;
}


.footer {
    background: #f2f2f2;
    padding: 4rem;
    text-align: center;
    margin: 6rem;
}


    @media only scren and (max-width: 767px) {

        .menu-icon {
            display: block;
        }

        .navegacion {
            width: 100%;
            margin-top: 1rem;
        }   

        .navegacion ul {
            display: none;
        }

       .navegacion ul li {
            display:block;
        
        }
        .navegacion ul li a {
            display: block;
            padding: 0.5rem 0;
            transition: all 0.45 linear;
            border-radius: 5px;
        }
        
        .navegacion ul li a:hover {
            background: #4a4a4a;
        }
        
    }